machine:
  network:
    interfaces:
      - interface: eth0
        addresses:
          - {{ hostvars[item]['node_ip'] }}/24
        routes:
          - network: 0.0.0.0/0
            gateway: {{ gateway }}
    nameservers:
      - {{ dns_server }}
  install:
    disk: /dev/vda
